.mo{
    background-image: url(./images/bg-section-top-desktop-1.svg),url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat,no-repeat;
    background-size: 100% 90%;
    height: 490px;
}
.nn{
    transform: translateY(80%);
}
.mm {
    background-image: url(./images/bg-section-bottom-desktop-2.svg),url(./images/bg-section-top-desktop-2.svg);
    background-repeat: repeat,no-repeat;
    background-size: 140%,140%;
    height: 390px;
}
.ttr{
    background-color: hsl(192, 100%, 9%); ;
    background-image: url(./images/bg-footer-top-desktop.svg);
    background-image: no-repeat;
    background-size: 220% 100%;
    background-attachment: local;
}